.contact-container {
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  background: #fff;
  padding: 3rem;
  text-align: center;
  border-radius: 0.5rem;
}

.contact-form input[type='text'] {
  background: #f8f8ff;
}

.contact-form select {
  width: 400px;
  height: 40px;
  font-size: 1rem;
  border-radius: 0;
  border: 1px #acacac solid;
  background: #f8f8ff;
}

.contact-form textarea {
  margin-top: 0.5rem;
  width: 400px;
  resize: none;
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px #acacac solid;
  background: #f8f8ff;
}

.contact-form h2 {
  margin: 3rem 0;
  margin-top: 0.5rem;
  font-size: 2.5rem;
}

.contact-form h4 {
  line-height: 0.5rem;
  font-size: 1.5rem;
  margin: 2rem 0;
  display: flex;
  display: flex;
  font-weight: 400;
}

.contact-form h4::after,
.contact-form h4::before {
  content: '';
  border-bottom: 0.05rem solid #b2b2b2;
  flex: 1;
  opacity: 0.5;
  margin-right: 1em;
  margin-left: 1em;
}

.contact-form h4::after {
  margin-right: 1.7em;
}

.contact-form h4::before {
  margin-left: 1.7em;
}

.contact-form input {
  padding: 0 0.5rem;
  font-size: 1rem;
  width: 400px;
  height: 40px;
  margin: 0.5rem 0;
  border: #acacac 1px solid;
}

.contact-form input:focus {
  outline: none !important;
  border: #0078d7 1px solid;
}

.contact-form .button-grey {
  width: 400px;
}
